@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/font-files/InterVariable.woff2?v=4.1') format('woff2');
}

body {
  font-family: 'Inter', sans-serif;
}
