name: Test Job

on:
  workflow_call:
    inputs:
      cache-key:
        required: true
        type: string
      node-version:
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ inputs.cache-key }}
          restore-keys: |
            ${{ runner.os }}-node-
          
      - name: Generate Nuxt types
        run: npx nuxt prepare
        
      - name: Run tests
        run: npm run test
        
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ github.sha }}
          path: ./coverage
          retention-days: 7