name: CI

on:
  push:
    branches: [main, dev]
    paths-ignore:
      - "**.md"
      - ".vscode/**"
  pull_request:
    branches: [main]
    paths-ignore:
      - "**.md"

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    uses: ./.github/workflows/test.yml
    secrets: inherit

  build:
    needs: test
    if: github.ref == 'refs/heads/main' || github.base_ref == 'main'
    uses: ./.github/workflows/build.yml
    with:
      environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'preview' }}
      upload-artifacts: true
    secrets: inherit
